<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>Privacy - Location When In Use Usage Description</key>
		<string>We need your location to provide you with our services.</string>
		<key>Privacy - Location Always and When In Use Usage Description</key>
		<string>We need your location to provide you with our services.</string>
	</dict>
</dict>
</plist>
